
:root{

    --color-white: hsl(0, 0%, 100%);
    --color-slate-300: hsl(212, 45%, 89%);
    --color-slate-500: hsl(216, 15%, 48%);
    --color-slate-900: hsl(218, 44%, 22%);

    --font-size-500: .9375rem;

    --font-weight-paragraph: 400;
    --font-weight-heading: 700;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
  margin: auto;
  text-align: center;
  font-weight: var(--font-weight-heading);
  color: var(--color-slate-900);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

body{
    font-family: "Outfit", serif;
    background-color: var(--color-slate-300);
}

p{
  font-size: var(--font-size-500);
  font-weight: var(--font-weight-paragraph);
  color: var(--color-slate-500);
}

.flex-wrapper{
  width: 100;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.flex-container{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    background-color: var(--color-white);
    border-radius: .5rem;
    padding: 1rem;
    flex: 1;
    margin-top: 5rem;
}

.qr-img{
   max-width: 100%;
   max-height: 100%;
   border-radius: .5rem;   
}

.attribution{
  justify-self: end;
  font-size: .75rem;
  font-weight: 300;
}

.icon{
  display: inline;
  width: 16px;
  height: auto;
}

h1{
  font-size: 1.25rem;
}

p{
  text-align: center;
  margin-top: 0;
}
